<div id="mainmenu">
      <ul>
        <li class="hhhh"><a href="{% url 'index'  %}">{%load static%}
              <img  class="logo" src="{%static 'images/logo.png'%}"></a></li>
        <li><a href="#" class="textmenu">ТОП</a></li>
        <li><a href="#" class="textmenu">ВК</a></li>
        <li><a href="#" class="textmenu">ТЕЛЕГРАМ</a></li>
      <li >
        <form class="form-inline my-2 my-lg-0" >
          <input class="form-control mr-sm-2" type="search" placeholder="Search" label="Search" name="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
          
       
      </div>
        </li>
         
      </ul>
      <style>
      .form-search {
        margin-top: 10px;
        margin:10px 0px; 
        display: inline-block;
        border-bottom: 1px solid;
      }
      .ss{
        margin-top:20px; 
      }
      .form-search input {
        all: unset;
      }
      </style>

  </div>
