

  <div class="container-fluid mt-2">
    <div class="form-group row">



      <form method="post" class="comment-form" action=".">

        {%csrf_token%}
        {{comment_form.as_p}}
        {% if request.user.is_authenticated %}
        <input type="submit" value="Submit" class="btn btn-outline-success">
        {%else%}
        <input type="submit" value="Submit" class="btn btn-outline-success" disabled="">
        {%endif%}

      </form>




    </div>
    
  </div>



  <p style="color: white;">{{comments.count}} Comment{{comments|pluralize}}</p>
 {%for comment in comments%}

<hr style="background-color: #a8a8a8;">



<div class="col-md-12">
  <div class="row">

    <div class="col-md-3">
      {%load static%}
      <img src="{%static 'images/unnamed.jpg'%}" style="width: 80%;height:100px;-o-object-fit: cover;
  object-fit: cover;
  object-position: center;margin:0 auto;
    vertical-align:middle; margin-left: 10px; ">

    </div>

    <div class="col-md-9" style="margin-left: -10">
      <p style="margin-top: -10px"><p style="color: #a8a8a8;font-size: 20px;font-family: Tahoma,verdana,sans-serif;">


                 {{comment.user|capfirst}}    <small style="margin-left: 10px;">{{comment.timestamp}}</small>      
      </p>
      
    

      </p>
      <p class="mb-0" style="margin-left: 5px;font-family: Tahoma,verdana,sans-serif;">  {{comment.content}}</p>

    </div>



    






  </div>
  




</div>



 









 {%endfor%}                 
